@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    transition: all ease .2s;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: inherit;
    text-decoration: inherit;
}
h1{
    font-size: 3.6em;
}
h4{
    font-size: 2.8em;
}
h5{
    font-size: 1.5em;
}
p{
    font-size: 1em;
    font-weight: 400;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.main{
    padding: 8em;
    padding-top: 10em;
    padding-bottom: 10em;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url('pics/back.jpg') fixed center center;
    background-size: cover;
    color: #fff;
}
.header{
    padding:.5em;
    text-align: center;
}
.menu{
    background: #eee;
    position: relative;
    width: 100vw;
}
.menu-itms{
    position: relative;
    display: flex;
    font-weight:500;
    flex-direction: row;
    justify-content: center;
}
.menuitm{
    height: 40px;
    width: 90px;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    margin-left: 5px;
}
.menuitm:nth-child(3){
    width: 120px;
}
.menuitm:nth-child(1){
    margin-left: 0;
}
.menuitm:hover{
    box-shadow: inset 0 -3px 0 #000;
}
.sub-h{
    width:60%;
}
.grid{
    position: relative;
    padding: 2em;
}
.row{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:10px;
}
.item{
    position: relative;
    width: 320px;
    height: 320px;
    background: rgba(0,0,0,0.1);
    margin:30px;
}
.share{
    opacity: 0;
    height:40px;
    width:40px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: url('svg.png') center center;
    background-size: cover; 
    cursor: pointer;
}
.item:hover{
    background: rgba(0,0,0,0.2);
}
.item:hover .share{
    opacity: 1;
}
.section3{
    position: relative;
    width: 100vw;
    padding: 0;
}
.left{
    position: relative;
    height: 100vh;
    width: 50vw;
    float: left;
    background: url('pics/back-m.jpg') fixed center center;
    background-size: cover;
}
.right{
    position: relative;
    height: 100vh;
    width: 50vw;
    float: right;
    background: #000;
    color: #fff;
    padding: 5em;
    padding-top: 7em;
    padding-bottom: 7em;
}
.section7{
    position: relative;
    transform: translateY(30vh);
    width: 100vw;
    padding: 3em;
    padding-bottom: 4em;
    text-align: center;
    color: #000;
}
.circle{
    position: relative;
    margin: auto;
    transform: translateY(60vh);
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background: url('pics/sonakshi.jpeg') center center;
    background-size: cover;
}
.section5{
    position: relative;
    transform: translateY(40vh);
    width: 100vw;
    padding: 3em;
    padding-bottom: 4em;
    text-align: center;
    color: #000;
}
.contact{
    position: relative;
    margin: auto;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about{
    position: relative;
    margin: auto;
    margin-top: 20px;
    width: 550px;
}
.divider{
    position: relative;
    width:200px;
    box-shadow: none;
    border: 2px solid rgba(0,0,0,0.1);
    margin-top: 40px;
}
.icon{
    color: #000;
    cursor: pointer;
    font-size: 1.2em;
    margin: 15px;
    text-align: center;
    height: 20px;
    width: 20px;
    line-height: 20px;
}
.icon:hover{
    opacity: .6;
}
.section6{
    transform: translateY(30vh);
    text-align: center;
    color: #fff;
    background: #000;
    padding: .2em;
    font-size: 1.5em;
}
.beating{
    color: #e74c3c;
    /* animation: beating .4s infinite; */
}
#pic1{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('pics/1.png') center center;
    background-size: cover;
}
#pic1:hover{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('pics/1.png') center center;
    background-size: cover;
}
#pic2{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('pics/2.png') center center;
    background-size: cover;
}
#pic2:hover{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('pics/2.png') center center;
    background-size: cover;
}
#pic3{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('pics/3.png') center center;
    background-size: cover;
}
#pic3:hover{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('pics/3.png') center center;
    background-size: cover;
}
#pic4{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('pics/4.png') center center;
    background-size: cover;
}
#pic4:hover{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('pics/4.png') center center;
    background-size: cover;
}
#pic5{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('pics/5.jpeg') center center;
    background-size: cover;
}
#pic5:hover{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('pics/5.jpeg') center center;
    background-size: cover;
}
#pic6{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('pics/6.jpeg') center center;
    background-size: cover;
}
#pic6:hover{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('pics/6.jpeg') center center;
    background-size: cover;
}
#pic7{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('pics/7.jpeg') center center;
    background-size: cover;
}
#pic7:hover{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('pics/7.jpeg') center center;
    background-size: cover;
}
#pic8{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('pics/8.jpeg') center center;
    background-size: cover;
}
#pic8:hover{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('pics/8.jpeg') center center;
    background-size: cover;
}
#pic9{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('pics/9.png') center center;
    background-size: cover;
}
#pic9:hover{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('pics/9.png') center center;
    background-size: cover;
}
@keyframes beating{
    0%{
        font-size: 1.5em;
    }
    50%{
        font-size: 1.8em;
    }
    100%{
        font-size: 1.5em;
    }
}
@media(max-width:600px){
    .main{
        padding: 2em;
        padding-top: 6em;
        padding-bottom: 6em;
    }
    .sub-h{
        width:80%;
    }
    .row{
        flex-direction: column;
    }
    .item{
        margin:10px;
    }
    .right{
        width: 100vw;
    }
    .section4{
        transform: translateY(200vh);
    }
    .left{
        width: 100vw;
    }
    h1{
        font-size: 3em;
    }
    h4{
        font-size: 2.2em;
    }
    p{
        font-size: 1em;
        font-weight: 400;
    }
    .circle{
        transform: translateY(160vh);
    }
    .about{
        width: 100%;
    }
}